h1{
    color: red;
    background-color: pink;
    text-align: center;
}
a{
    text-decoration: none;
}
.tren_mot_hang{
    width: 100%;
    display:inline-block ;
}
.letrai{
    float: left;
    width: 50%;
    height: 500px;
    background-color: lightgoldenrodyellow;
}
.lephai{
    color: blue;
    float: right;
    width: 50%;
    height: 500px;

}
